ipykernel
pydantic
langchain
python-dotenv
langchain-community
langchain-groq
langchain-tavily
arxiv
wikipedia
langgraph-cli[inmem]
langchain_huggingface
sentence-transformers
faiss-cpu
langchain-classic
tiktoken